# Set

In [2]:
# set is an unordered collection of unique items
my_set = set()

In [6]:
# add() method in set takes only one argument
my_set.add(1)

In [12]:
my_set

{1, 2}

In [9]:
my_set.add(2)

In [10]:
my_set

{1, 2}

In [11]:
len(my_set)

2

# set only takes unique values

In [13]:
my_list = [1,1,1,2,2,2,3,3,3]

In [16]:
# cast values into set
set(my_list)

{1, 2, 3}

In [17]:
x1 = set(my_list)

In [18]:
x1

{1, 2, 3}