# Objects and Data Structure Assessment Test

Numbers: This is a data type of numericall values which include integers and float

String: it is a sequence of characters enclosed in single or double quats. Strings are imutable.

Lists: include collection items seperated by commer enlosed in a square bracket. Lists are mutable- items can be changed and replaced

Tuples: includes items seperated by commas and enclosed in a parenthesis. Tuples are immutable.

Dictionary: This is a maped key:value per enclosed in a curly braces. Items cannot be sorted

Set: This is a collection of unique objects into a list

In [2]:
2*10/5+6**2+80.25-20

100.25

In [3]:
4*(6+5)

44

In [4]:
4 * 6 + 5

29

In [5]:
4 + 6 * 5

34

In [8]:
3 + 1.5 + 4

8.5

In [11]:
type(3 + 1.5 + 4)

float

In [12]:
# Square root: use **0.5

In [13]:
# Square: use **2

In [19]:
16**(1/2)

4.0

Strings

In [20]:
s = 'Hello'
print(s[1])

e

In [27]:
print(s[::-1])

olleH

In [28]:
print(s[-1])

o

In [29]:
print(s[4])

o

Lists

In [31]:
[0,0,0]

[0, 0, 0]

In [32]:
[0]*3

[0, 0, 0]

In [33]:
list3 = [1,2,[3,4,'hello']]

In [34]:
list3[2][2] = 'Goodday'

In [35]:
list3

[1, 2, [3, 4, 'Goodday']]

In [76]:
list4 = [8,3,2,6,1]

In [77]:
# list sorting method one
sorted(list4)

[1, 2, 3, 6, 8]

In [40]:
# list sorting method two
list4.sort()

In [41]:
list4

[1, 2, 3, 6, 8]

Dictionary

In [42]:
d = {'key_1':'Orange'}

In [43]:
d['key_1']

'Orange'

In [44]:
d = {'k1':{'k2':'apple'}}

In [45]:
d['k1']['k2']

'apple'

In [46]:
d = {'k1':[{'nest_key':['inner nest',['mandarin']]}]}

In [49]:
d['k1'][0]['nest_key'][1][0]

'mandarin'

In [51]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['kiwi']]}]}]}

In [53]:
d['k1'][2]['k2'][1]['tough'][2][0]

'kiwi'

In [55]:
# dictionary is a key value per and not a sequence, so cannot be sorted 
#but mapped only

Tuples

In [56]:
# Tuples are immutable, lists are mutable. They are both a sequence

In [58]:
t_1 = (1,2,4,3)

In [62]:
t_1

(1, 2, 4, 3)

Set

In [63]:
# Set returns unique items in a list, no duplicates

In [64]:
lst_ =[1,2,2,23,4,4,55,55,'six','six']

In [65]:
set(lst_)

{1, 2, 23, 4, 55, 'six'}

Booleans

In [66]:
2 >3

False

In [67]:
3<=2

False

In [68]:
3==2.0

False

In [69]:
3.0==3

True

In [71]:
4**0.5!=2

False

In [72]:
one_ = [1,2,[3,4]]
two_ =[1,2,{'k1':4}]

In [74]:
one_[2][0] >= two_[2]['k1']

False