In [1]:
list_1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in list_1:
    print (num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for n in list_1:
    print('Good')

Good
Good
Good
Good
Good
Good
Good
Good
Good
Good

In [4]:
for num in list_1:
    if num % 2 ==0:
        print(num)
    else:
        print('Odd Number')

Odd Number
2
Odd Number
4
Odd Number
6
Odd Number
8
Odd Number
10

In [5]:
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
for num in list_1:
    if num % 2 ==0:
        print(num)
    else:
        print(f"Odd number {num}")

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [7]:
# print sum of items in the list
list_sum = 0
for num in list_1:
    list_sum = list_sum + num
print(list_sum)

55

In [8]:
list_sum = 0
for num in list_1:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
# iterating through a string
my_string = 'Hello World'
for xter in my_string:
    print(xter)

H
e
l
l
o

W
o
r
l
d

In [10]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
for _ in 'hello world':
    print(_)

h
e
l
l
o

w
o
r
l
d

In [15]:
for _ in 'hello world':
    print('Hi!')

Hi!
Hi!
Hi!
Hi!
Hi!
Hi!
Hi!
Hi!
Hi!
Hi!
Hi!

In [17]:
# n is the variable name for the items in the object
tup = (2,3,4)
for n in tup:
    print(n)

2
3
4

In [18]:

my_list = [(2,3),(4,5),(6,7),(8,9)]
for n in my_list:
    print(n)

(2, 3)
(4, 5)
(6, 7)
(8, 9)

In [27]:
# tuple unpacking
for n,m in my_list:
    print(n)

2
4
6
8

In [25]:
# tuple unpacking
for n,m in my_list:
    print(n,m)

2 3
4 5
6 7
8 9

In [31]:
my_list = [(2,3,4),(6,7,8),(9,10,11),(12,13,14)]
for s in my_list:
    print(s)

(2, 3, 4)
(6, 7, 8)
(9, 10, 11)
(12, 13, 14)

In [32]:
my_list = [(2,3,4),(6,7,8),(9,10,11),(12,13,14)]
for s,p,r in my_list:
    print(s,p,r)

2 3 4
6 7 8
9 10 11
12 13 14

# Iterating through a dictionary

In [34]:
d = {'k1':1,'k2':2,'k3':3}
for n in d:
    print(n)

k1
k2
k3

In [35]:
# d.items returns a tuple
for n in d.items():
    print(n)

('k1', 1)
('k2', 2)
('k3', 3)

In [37]:
for n,m in d.items():
    print(n,m)

k1 1
k2 2
k3 3

In [43]:
for n in d.keys():
    print(n)

k1
k2
k3

In [44]:
for n in d.values():
    print(n)

1
2
3