# Range()

In [2]:

for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [5]:
# Arguments start, stop, step
for n in range(0,10,2):
    print(n)

0
2
4
6
8

In [6]:
# generators are special funtions that generates numbers but not store it
# variable name need to be cast into other object to store the numbers eg Range()
range(0,10,2)

range(0, 10, 2)

In [13]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

# Enumerate()

In [19]:
count_index = 0
for n in ('a','b','c','d','e'):
    print('Th Index count is {} the item is {}'.format(count_index,n))
    count_index+=1

Th Index count is 0 the item is a
Th Index count is 1 the item is b
Th Index count is 2 the item is c
Th Index count is 3 the item is d
Th Index count is 4 the item is e

In [27]:
# with enumerator() the count_index autogenerates numbers
g_ = 'abcde'
for n in enumerate(g_):
    print(n)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [21]:
# unpacking the tuple
for n1,n2 in enumerate('abcde'):
    print('The Index count is {} the item is {}'.format(n1,n2))

The Index count is 0 the item is a
The Index count is 1 the item is b
The Index count is 2 the item is c
The Index count is 3 the item is d
The Index count is 4 the item is e

In [26]:

for n1,n2 in enumerate(('a','b','c','d','e')):
    print('The Index count is {} the item is {}'.format(n1,n2))

The Index count is 0 the item is a
The Index count is 1 the item is b
The Index count is 2 the item is c
The Index count is 3 the item is d
The Index count is 4 the item is e

# Zip()

In [47]:
# zip() function pares items into a tuple
list_1 = [1,2,3,4]
list_2 = [20,30,40,50]
list_3 = ['a','b','c','d']
zip(list_1,list_2,list_3)

In [48]:
# zip() need to be cast into another object so it can be printed

list(zip(list_1,list_2,list_3))

[(1, 20, 'a'), (2, 30, 'b'), (3, 40, 'c'), (4, 50, 'd')]

In [49]:
x = list(zip(list_1,list_2,list_3))
for n1,n2,n3 in x:
    print(n1,n2,n3)

1 20 a
2 30 b
3 40 c
4 50 d

In [50]:
for n in x:
    print(n)

(1, 20, 'a')
(2, 30, 'b')
(3, 40, 'c')
(4, 50, 'd')

# In operator

In [52]:
# In operator returns boolean 
'a' in 'mango'

True

In [55]:
k = 'markenzy'
'y' in k

True

In [56]:
'p' in k

False

In [57]:
'k1' in {'k1':22,'k2':33}

True

In [58]:
'k4' in {'k1':22,'k2':33}

False

In [59]:
p = {'k1':22,'k2':33}
33 in p.values()

True

In [61]:
4 in p.values()

False

In [71]:
p.items()

dict_items([('k1', 22), ('k2', 33)])

In [73]:
len(p.items())

2

In [77]:
('k2',33) in p.items()

True

In [78]:
p.keys()

dict_keys(['k1', 'k2'])

In [81]:
'k2' in p.keys()

True

# Min function

In [82]:
# Min() is a mathematical function that returns minimum item in an object
m_list = [2,3,4,5,6,30,28]
min(m_list)

2

# Max function

In [83]:
# max() returns the maximum item in an object
max(m_list)

30

In [91]:
m_1 = ('g','aaab','b')
min(m_1)

'aaab'

In [92]:
max(m_1)

'g'

# Importing functions from Random library

In [93]:
from random import shuffle
# shuffle() shuffles the items in the object

In [94]:
m_list = [1,2,3,4,5,6,7,8,'a']

In [95]:
m_list

[1, 2, 3, 4, 5, 6, 7, 8, 'a']

In [96]:
shuffle(m_list)

In [97]:
m_list

[4, 'a', 1, 6, 5, 3, 7, 8, 2]

# Randint()

In [98]:
randint(m_list)

NameError: name 'randint' is not defined

In [ ]:
from random import randint
m_1 = [1,2,3.4,5,6,7,8]
randint(min(m_1),max(m_1))

In [123]:
# randint returns a random integer from a range of values. It takes arguments start integer and 
# stop integer only
m_1 = [1,2,3,4,5,6,7,8]
randint(m_1[0],m_1[2])

3

In [124]:
randint(0,50)

45

In [131]:
randint(10,15)

14

In [134]:
type(randint(3,8))

int

# Input()

In [136]:
# input funtion accepts values and returns a string

input("Hi what's your name?: ")

Hi what's your name?: Peter

'Peter'

In [137]:
na_me = input("What's your name?: ")

What's your name?: James

In [138]:
na_me

'James'

In [139]:
num = input('Enter a number: ')

Enter a number: 80

In [140]:
num

'80'

In [141]:
type(num)

str

In [144]:
# cast num to integer
num= int(num)

In [145]:
num

80

In [146]:
# cast num to float
num = float(num)

In [147]:
num

80.0