In [1]:
my_str = 'hello world'
my_list = []
for n in my_str:
    my_list.append(n)
my_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [2]:
m_list = [p for p in my_str]
m_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [4]:
m_lst = [n for n in range(0,11)]
m_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
m_lst = [n for n in range(0,11,2)]
m_lst

[0, 2, 4, 6, 8, 10]

In [7]:
m_lst = [k**2 for k in range(0,11)]
m_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# make list of even numbers
m_lst = [d for d in range(0,11) if d%2==0]
m_lst

In [9]:
# square the even numbers
m_lst = [d**2 for d in range(0,11) if d%2 == 0]
m_lst

[0, 4, 16, 36, 64, 100]

In [12]:
# converting celcius to fahrenheit using list comprehension
celcius = [20,30,40.5,50]
fahrenheit = [(9/5)*t+32 for t in celcius]
fahrenheit

[68.0, 86.0, 104.9, 122.0]

In [20]:
# using else statement in list comprehention
rst = [k if k%2 == 0 else 'odd'for k in range(0,11)]
rst

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

# Nested list comprehension

In [27]:
m_lst = []
for x in [2,3,4]:
    for y in [10,20,30]:       
        m_lst.append(x*y)
m_lst

[20, 40, 60, 30, 60, 90, 40, 80, 120]

In [30]:
m_1 = [n*m for n in [2,3,4] for m in [10,20,30]]
m_1

[20, 40, 60, 30, 60, 90, 40, 80, 120]