In [1]:
'Hello world'

'Hello world'

In [2]:
"Hello World"

'Hello World'

In [3]:
"I'm a programmer"

"I'm a programmer"

In [4]:
print('Hello World')

Hello World

In [5]:
print('Hello \nWorld')

Hello
World

In [6]:
'Hello World one'
'Hello World two'

'Hello World two'

In [7]:
# len function is used to count the lenth of character in a string
len("Hello")

5

In [8]:
# len function includes space as character
len("Hello world")

11

In [9]:
len('Hello World One')

15

# string indexing and slicing

In [12]:
my_string = 'Hello World'

In [14]:
my_string

'Hello World'

In [26]:
# indexing starts at zero
my_string[0]

'a'

In [19]:
print('my_string[0]')

my_string[0]

In [20]:
print(my_string[0])

H

In [21]:
my_string

'Hello World'

In [22]:
my_string[8]

'r'

In [23]:
my_string[-1]

'd'

In [24]:
my_string[-2]

'l'

In [27]:
my_string = "abcdefghijklmn"

In [28]:
len(my_string)

14

# start, stop and step

In [32]:
# items goes up to stop index but not including the item of the stop index
my_string[:5]

'abcde'

In [34]:
# index starting from 3 stoping at 7
my_string[3:7]

'defg'

In [35]:
my_string[4:9]

'efghi'

In [36]:
my_string[::]

'abcdefghijklmn'

In [39]:
# using step 1
my_string[3:9:1]

'defghi'

In [41]:
# using step 2
my_string[3:9:2]

'dfh'

In [46]:
my_string[3:9:3]

'dg'

In [48]:
# all the items in a reverse order
my_string[::-1]

'nmlkjihgfedcba'

# string properties and methods

In [51]:
# string data type is immutable
# item in a string cannot be changed by index assignment
# however it can be changed through concatination

In [52]:
first_name = 'Jane'

In [58]:
# first_name[0]='C' returns an error

In [56]:
# concatinate
last_name = 'C'+first_name[1:]

In [57]:
last_name

'Cane'

In [73]:
a = 'Hello world'

In [74]:
a = a+" it is a beautiful world"

In [75]:
a

'Hello world it is a beautiful world'

In [76]:
a*4

'Hello world it is a beautiful worldHello world it is a beautiful worldHello world it is a beautiful worldHello world it is a beautiful world'

In [77]:
b="c"

In [79]:
b*6

'cccccc'

In [81]:
3+3

6

In [82]:
"3"+"3"

'33'

In [85]:
"3"+"3"

'33'

# Builtin String methods

In [86]:
s = 'Hello World'

In [87]:
# Upper case method
s.upper()

'HELLO WORLD'

In [88]:
#lower case method
s.lower()

'hello world'

In [91]:
s.upper()

'HELLO WORLD'

In [92]:
s

'Hello World'

In [93]:
# to change the value of s, it has to be reasigned
s = s.upper()

In [94]:
s

'HELLO WORLD'

In [96]:
# split method creates a list from the string
s.split()

['HELLO', 'WORLD']

In [105]:
s

'HELLO WORLD'

In [107]:
s.split("L")

['HE', '', 'O WOR', 'D']

In [108]:
g = "this is string split method"

In [109]:
g.split("t")

['', 'his is s', 'ring spli', ' me', 'hod']

In [112]:
g.split()

['this', 'is', 'string', 'split', 'method']

# String Formatting using .format() method

In [113]:
# using .format() method to interpolate or inject string into string
print('The colour is {}'.format('blue'))

The colour is blue

In [116]:
# assigning values in a tuple
c = 'black'
print('The colour is {}'.format(c))

The colour is black

In [117]:
# assigning values in a tuple
c='black'
d='blue'
print('The colour is {} and {}'.format(c,d))

The colour is black and blue

In [119]:
# assigning values in a tuple
c='black'
d='blue'
print('The colour is {1} and {0}'.format(c,d))

The colour is blue and black

In [120]:
# assigning values in a tuple
c,j='red','orange'
print('The colour is {} and {}'.format(c,j))

The colour is red and orange

In [128]:
# assigning values in a tuple
c,j='red','orange'
print('The colour is {1} and {0}'.format(c,j))

The colour is orange and red

In [141]:
print('The colour is {h} and {h}'.format(b='White',h='black'))

The colour is black and black

In [130]:
print('The colour is {h} and {b}'.format(b='White',h='black'))

The colour is black and White

# string Formatting with modulo operator " %s"

In [143]:
print('The colour is %s'%'brown')

The colour is brown

In [136]:
print ('The colour is %s' %'brown','blue','and','red')

The colour is brown blue and red

In [139]:
print('The colour is %s and %s'%('red','orage'))

The colour is red and orage

In [140]:
print('The colour is %sand%s'%('\tred','\torage'))

The colour is 	redand	orage

In [177]:
# %r operator returns string in quates
print('The colour is %r'%'Red')

The colour is 'Red'

In [179]:
# %d operator returns integer without rounding up
print('The result is %s percent'%2.85)
print('The result is %d percent'%2.85)

The result is 2.85 percent
The result is 2 percent

In [203]:
print('one %s, two %s, three %s'%(1,2,3))

one 1, two 2, three 3

# Float formatting syntax {value:width.precision f}

In [148]:
num_ = 200/877

In [149]:
num_

0.22805017103762829

In [160]:
print('result is {y:1.2f}'.format(y=num_))

result is 0.23

# Formatting using f string

In [163]:
name = 'Perter'

In [170]:
print(f'His name is {name}')

His name is Perter

In [173]:
make = 'BMW'
colour = 'white'
print (f'The car is {colour} {make}')

The car is white BMW

In [174]:
print(f'The {colour} {make} belongs to {name}')

The white BMW belongs to Perter

# Padding and floating point precision

In [183]:
# 5 does the padding, 2f does the floating point precision
print('The number is %5.2f'%(2.348))

The number is  2.35

In [185]:
print('The number is {p:10.2f}'.format(p=2.358))

The number is       2.36

In [190]:
print('The number is %1.0f'%2.599)

The number is 3

In [191]:
print('The number is %25.5f'%(3.455678792))

The number is                   3.45568

# Multiple conversion tool

In [194]:
print('%s is %1.3f %r'%('Score',3.12637,'good job'))

Score is 3.126 'good job'

# Alignment, Padding(field widths) and Precision.format()

In [226]:
# syntax{index:field width}
print('{0:8} | {1:9}'.format('fruit', 'quantity'))
print('{0:8} | {1:9}'.format('Apples',3.0,500))
print('{0:8} | {1:9}'.format('Oranges',10))

fruit    | quantity
Apples   |       3.0
Oranges  |        10

In [237]:
print('{0:<8} | {1:^9} | {2:>8}'.format('fruit', 'quantity','price'))
print('{0:<8} | {1:^9} | {2:>8}'.format('Apples',3.0,500))
print('{0:<8} | {1:^9} | {2:>8}'.format('Oranges',10, 40))

fruitddd | quantity  |    price
Apples   |    3.0    |      500
Oranges  |    10     |       40

In [242]:
print('{0:<7} | {1:^9} | {2:>9}'.format('Left','Center','right'))

Left    |  Center   |     right

In [245]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))

Left==== | -Center- | ...Right

In [246]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(24,32,60))

Left==== | -Center- | ...Right
24====== | ---32--- | ......60

In [251]:
print('The following have same output %10.4f'%5.45729)
print('The following have same output {0:10.4f}'.format(5.45729))

The following have same output     5.4573
The following have same output     5.4573

# String literals(f-strings)

In [264]:
name = 'Francis'
print(f"His name is {name}")

His name is Francis

In [272]:
num=34.452675
print('The following have same output {0:8.4f}'.format(num))
print(f'The following have same output {num:8.4f}')

The following have same output  34.4527
The following have same output  34.4527